<H1>ABOUT:</H1>
<div class="frontend_narrow_div">
  <span class="frontend_title">What's this project about? What do we map? Why we fight?</span>
  <br/>
  <div class="frontend_content">
    Coming soon(tm)
    <br />
    <span class="frontend_author">-- by ellmo</span>
  </div>
</div>
