<H1>ABOUT:</H1>
<div class="frontend_narrow_div">
  <span class="frontend_title">What's this project about? What do we map? Why we fight?</span>
  <br/>
  <div class="frontend_content">
    Hot on the heels of the super fun and challenging <a href="http://doomtwid.herokuapp.com">Doom project</a> that pushed mappers to get inside the minds of revolutionaries in game design comes the natural sequel to <span class="frontend_green">Doom The Way id Did</span>.
    <br /><br />
    Join us as we continue on the exciting journey to recreate retro-authentic mapping gold. This time there will be more map designer styles to emulate, more abstract warped-reality levels to explore, more monsters to thwart the player in new, devilish ways, and new mapping design concepts to rediscover and draw from as we meticulously strive to recreate the <span class="frontend_green">Doom II</span> experience.
    <br /><br />
    If you're up for a different kind of mapping challenge and missed the first <a href="http://doomtwid.herokuapp.com">DTWiD</a> project, try your hand at a map for <span class="frontend_green">Doom II The Way id Did</span>.
    <br /><br />
    <span class="frontend_author">-- by Hellbent</span>
  </div>
</div>
