<H1>ABOUT:</H1>
<div class="frontend_narrow_div">
  <span class="frontend_title">What's this project about? What do we map? Why we fight?</span>
  <br/>
  <div class="frontend_content">
    At some point in time I got the idea that it would be really fun if John Romero dusted
    off the ol' doom editor and made another map for Doom episode 1 for old time's sake.<br/>
    He once replied to an email saying 'maybe I will!' but never did get around to it as far as
    I know.<br/>
    <br/>
    This project asks the contributors to carefully study the original maps and try to make
    them as John Romero and Sandy Petersen did.<br/>

    <span style="color:#7882C8">DTWID</span> is short for
    <span style="color:#7882C8">Doom The Way Id Did</span>,
    a mapping project that asks the question <em>'what would a tenth level from each of the Doom
    episodes look like, if such levels existed?'</em><br/>
    <br/>
    Based on this idea, we seek to remake the 27 maps in Doom.<br/>
    The guiding principle in the project is to pretend that id Software initially intended
    to release Doom as a three episode, 30 level game, but somehow lost three levels;
    one from each episode and then released Doom without the missing levels, as a 27 level game.<br />
    <br />
    ...then one day a Doomer found those missing three levels and immediately recognized
    them as being part of the game, and placed the levels back into their respective episodes,
    where they most logically fit.  This is where <span style="color:#7882C8">team DTWID</span>
    comes in.<br/>
    
    The mappers for the project are trying to create those lost tenth levels,
    except we are extending this concept to be a full 3 episode replacement.<br />
    <br />
    Our goal is to make the “lost” maps as authentically as possible to be convincingly
    mistaken for original levels from the game, to recreate
    <span style="color:#7882C8">Doom the way id did</span>.
    <br/>
    <span class="frontend_author">-- by Hellbent</span>
  </div>
</div>
