<H1>CONTACT:</H1>
<div class="frontend_narrow_div">
  <span class="frontend_title">How to get in contact with the DTWID team?</span>
  <br/>
  <div class="frontend_content">
    Wanna say hi? Ask questions about the project? Offer help?<br />
    <br />
    The best way is to join the discussion via IRC. Download an IRC client - if you
    don't have one yet - like
    <%= link_to 'mIRC', 'http://www.mirc.com/get.html' %>
    or
    <%= link_to 'XChat', 'http://www.silverex.org/download/' %>
    (if you don't use Windows as your operating system, chances are you already have
    that kind of software installed) and join us at:<br />
    <div style="font-size:14px; margin-top:10px">
      <span style="font-weight:bold">server:</span> <span style="color:#7882C8">irc.oftc.net</span><br />
      <span style="font-weight:bold">channel:</span> <span style="color:#7882C8">#doomtwid</span><br />
    </div>
    <br />
    <br />
    If you want to report issues with this page, suggest changes or just whine about
    it, IRC might not be the best solution. Using an
    <%= mail_to "doom.the.way.id.did@gmail.com", "e-mail", :encode => "hex" %>
    might get you better results.
  </div>
</div>

