<H1>CONTACT:</H1>
<div class="news_div">
  <span class="news_title">How to get in contact with DTWID team?</span>
  <br/>
  <div class="news_content">
    Wanna say hi? Ask questions about the project? Offer help?<br />
    <br />
    The best way is to join the discussion via IRC. Download an IRC client - if you
    don't have one yet - like
    <%= link_to 'mIRC', 'http://www.mirc.com/get.html' %>
    or
    <%= link_to 'XChat', 'http://www.silverex.org/download/' %>
    (if you don't use Windows as your operating system, chances are you already have
    that kind of software installed)<br />
    <br />
    <br />
    If you want to report issues with this page, suggest changes or just whine about
    it, IRC might not be the best solution. Using an
    <%= mail_to "doom.the.way.id.did@gmail.com", "e-mail", :encode => "hex" %>
    might get you better results.
  </div>
</div>

