<style type="text/css">

</style>

<H1>ARTWORK GALLERY:</H1>

<div class="frontend_wide_div" style="width:680px;">
  This section of the page is maintaned by our graphic artist
  <span style="color:#78C878; font-weight:bold;">Kracov</span>,
  who works on all kinds of graphic stuff, project titlepic, other game screens, (including intermission
  pictures at some point) and promotional graphics like wallpapers!
  <br/><br />
  Also be sure to visit his <%= link_to "homepage", "http://kracov.org" %> for more art!
  <div class="frontend_content" style="margin-top:10px;">
    <%= content_tag :div, :style => "height:#{(150*((@gallery_images.size+3)/4)).to_i}px" do %>
      <% @gallery_images.each do |image| %>
        <div style="float:left; position:relative; width:160px; height:150px; margin-left:5px;">
          <%= link_to (image_tag image.thumbnail_url, :size => "160x120"), image.image_url %><br />
          <div style="wdith:100%; text-align:center; font-size:10px;">
            <%= image.title %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

