<div style="font-size:20px; font-weight:bold; margin-bottom:20px;">NEWS:</div>
<% @news.each do |news| %>
  <div class="news_div">
    <span class="news_title"><%= news.title %></span>
    <br />
    <span class="news_author"><%= news.user.nick %> <%= news.created_at.strftime("%d-%b-%Y (%H:%M)") %></span>
    <br/>
    <div class="news_content">
      <%= raw news.content %>
    </div>
  </div>
<% end %>
