#container_div {
  width:960px;
}

#header {
  position: relative;
  width: 100%;
  background-color: #53573b;
  margin: 0px;
  border-top: 10px #53573b solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 5px #53573b solid;
  border-bottom-right-radius: 10px;
}

#main {
  position: relative;
  height: 100%;
  bottom: 0px;
  margin: 0px;
  width: 640px;
}

#left-menu {
  position: absolute;
  left: 0px;
  background-color: #53573b;
  width: 320px;
  border-right: 10px #53573b solid;
  border-top: 20px #53573b solid;
  border-bottom: 10px #53573b solid;
  border-bottom-left-radius: 10px;
}

#content-border {
  position: relative;
  left: 330px;
  border-top: 10px #2b230f solid; 
  height: 100%;
}

#content {
  border-top: 10px #2b230f solid;
  border-left: 10px #2b230f solid;
  border-top-left-radius: 10px;
  margin: -10px;
  min-height: 800px;
}

.frontend_narrow_div {
  background-color: #53573b;
  border: 10px #53573b solid;
  border-radius: 10px;
  margin-right:40px;
  width: 610px;
  margin-bottom:25px;
}

.frontend_wide_div {
  background-color: #53573b;
  border: 10px #53573b solid;
  border-radius: 10px;
  margin-right:40px;
  min-width: 662px;
  margin-bottom:25px;
}

.frontend_title {
  font-size:16px;
  color:#2b230f;
  font-weight: bold;
}

.frontend_author {
  font-size:11.5px;
  color:#78C878;
}

.frontend_content {
  background-color: #2b230f;
  border: 8px #2b230f solid;
  border-radius: 8px;
}

.frontend_blue {
  color:#7882C8;
}
