td {
  padding: 4px;
}

.odd_row {
  background-color: #282828;
}

.even_row {
  background-color: #101010;
}

.kditd_row {
  color: #C8C8C8;
}

.tsoh_row {
  color: #7882C8;
}

.inferno_row {
  color: #F05A3C;
}

.tfc_row {
  color: #78C878;
}
