td {
/*  border: 1px solid #B4B478;*/
  padding: 4px;
}

.odd_row {
  background-color: #202020;
}

.even_row {
  background-color: #404040;
}

.kditd_row {
  color: #B4B464;
}

.tsoh_row {
  color: #7882C8;
}

.inferno_row {
  color: #F05A3C;
}
