td { padding: 4px; }

th { background-color: #53573b; }

.odd_row { background-color: #2E2E1F; }
.even_row { background-color: #1b170c; }

.kditd_row { color: #cdb68b; }
.kditd_row a { color: #cdb68b; }

.tsoh_row { color: #bfa97e; }
.tsoh_row a { color: #bfa97e; }

.inferno_row { color: #F05A3C; }
.inferno_row a { color: #F05A3C; }

.tfc_row { color: #cdb68b; }
.tfc_row a { color: #cdb68b; }

.search_radio_box_span {
  font-size: 11px;
}
