<%= simple_form_for([:admin, @map_author]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nick %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
